<!doctype html>
<html>
  <head>
  <title><%= locals.title %> - Chat</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/public/style/chatBubble.css">
  <link rel="stylesheet" href="/public/style/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/javascript/chat/chat.js"></script>
  <style>
      html,body{
        overflow-x: hidden; 
        background-color: whitesmoke;
      }

      .setMaxHeightDiv {
          height:100%;
      }

      .rightSideBar {
        position: absolute;
        bottom: 0;
      }
  </style>
</head>
<body> 
<%- include("../templates/navbar.ejs") %>
<div class="container-fluid" style="padding: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="padding:20px;">
        <div>
          <% 
            var encodeSpaces = function(data){
              var encodedData = encodeURI((data).replace(/\s/g , "-"));
              return encodedData;
            } 
          %>

          <div style="padding: 0px;">
            <div class="card shadow-sm rounded">
              <div class="card-heading px-2 pl-3 py-3" ><h3 class="text-danger mt-3">Chat Rooms</h3></div>
              <div class="card-body">
                <table class="table">
                <% chatrooms.forEach(function(rooms){%>
                  <tr>
                    <td><a href="/chat/rooms/<%= encodeSpaces(rooms.chatroom) %>"><%= rooms.chatroom %></a></td>
                  </tr>
                <%});%>
                </table>
              </div>
            </div>     
          </div>
        
          <div class="card card-body shadow-sm rounded">
            <div id="connectedUserListTable">
              <legend style="color:#434547;">All Online Users</legend>
              <ul id="connectedUserList"></ul>
            </div>
          </div>
          
          <div class="userData"></div>
          <div class="card card-body shadow-sm rounded">
            <% if(user){%>
            <input type="hidden" name="currentUser" id="currentUser" value="<%= user %>">
            <%} else {%> 
            <% randomNumber = Math.floor(Math.random() * (999 - 1 + 1)) + 1%>
              <input type="hidden" name="currentUser" id="currentUser" value="GuestUser<%= randomNumber%>">
            <%}%>

            <div id="connectedUserListTable">
              <h6 id="chatWith"><strong class="text-primary">Room:</strong> </h6>
              <ul id="connectedUserList"></ul>
            </div>

            <div>
              <table class="table">
                <tbody id="connectedUser"></tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>

      <div class="col-md-9"><br>
        <div class="card shadow-sm rounded">
          <div class="card-heading p-3" >
            <div id="welcomeMessage"></div>
          </div>
          <div class="card-body">
            <div> 
              <div class="foo setMaxHeightDiv" id="messages" style="padding-left:20px; padding-right: 20px; color: white"></div><br>
              <div class="text-center">
                <span class="text-center" id="notifyUser"></span><hr>
              </div>
              
            </div>

            <div class="card-footer" style="padding: 0px;">
              <form id="form" onsubmit="return submitfunction();" > 
                <div class="input-group">
                  <input type="hidden" id="user" value="" />
                  <input id="message" autocomplete="off" class="form-control" 
                    onkeyup="notifyTyping();" placeholder="Type your message here.." />
                  <span class="input-group-btn"> 
                    <button class="btn btn-primary" type="submit">Send</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<br>
<%- include("../templates/footer.ejs") %>
<!-- // END OF FOOTER --> 
</body>
</html>